.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.grid-item {
    background-color: yellowgreen;
    padding: 20px;
    text-align: center;
    font-size: 35px;
}