.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.box {
    width: 80px;
    height: 80px;
    background-color: rgb(6, 182, 241);
    text-align: center;
    line-height: 80px;
    font-size: 20px;
}